/* Stylesheet 4: */

/*Styles by tag */
body {
  font: 100% courier new;
  background-color: black;
  margin: 20px;
  line-height: 26px;
}

a {
  color: white;
}

/*Styles by ID*/
#top {

  color: #84c754;
  padding: 15px;
}

#main {

  color: #84c754;
  padding: 10px;
}

#sidebar {

  width: 320px;
  top: 0;
  right: 0;
  position: absolute;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  padding: 10px;
  font-size: 80%;
  line-height: 20px;
}

#bottom {

  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  font-size: 70%;
  padding: 10px;
  line-height: 14px;
}

/*Styles by class */
.menuitem {

  color: #84c754;
  cursor: pointer;
}
/*Styles by ID+class combo */
#top h1{
  margin: 0px;
}

#top p{
  margin: 0px;
}
/*Styles by psuedoclass */
a: hover{
  color: #84c754;
}

.menuitem: hover{
  color: white;
}

.menuitem:nth-child(4){
  color: white;
  font-weight: bold;
}
