/* Stylesheet 3: */

/*Styles by tag */
body {
  font: 100% verdana;
  margin: 20px;
  line-height: 26px;
}

a {
  color: black;
}

h1, h2, h3 {

  color: #84c754;
}

/*Styles by ID*/
#menulist {

  padding: 0px;
  position: relative;
  overflow: auto;
}

#sidebar {

  border: 1px solid #d4d4d4;
  background-color: #f1f1f1;
  padding-left: 10px;
}

#bottom {

  text-align: center;
  font-size: 70%;
  padding: 10px;
  line-height: 14px;
}

/*Styles by class */
.menuitem {

  margin: 4px;
  background-color: #555555;
  color: white;
  list-style-type: none;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  width: 165px;
  float: left;
}
/*Styles by ID+class combo */

/*Styles by psuedoclass */
a: hover{
  color: #84c754;
}

.menuitem: hover{
  background-color: #999999;
}

.menuitem:nth-child(3){
  background-color:#000;
  font-weight: bold;
}
