/*
    Recreating the minimal features from bootstrap that makes building a website easier and responsive
    Make some columns of different lengths to be used with div tags.

    The nessecary and non-obvious 4 css rules needed for this to work were found and explained off of
    https://css-tricks.com/dont-overthink-it-grids/
    A website referred to and linked to in the slideshows of the course
*/


/*
    This ensures that nothing will appear after the row and mess up the layout.
    Clear the content, Display like a normal HTML table, and clear the floats.
*/

*.row:after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clear: both;
}


/*
    By using box-sizing, it ensures that the padding and border are considered with the size of the element itself
    This prevents overflows when dividing the full width up evenly.
    The other two options are for browser compatibility if required.
*/

*, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: all cubic-bezier(.62, .28, .23, .99) 0.7s;
    transition: all cubic-bezier(.62, .28, .23, .99) 0.7s;
}


/*
    Any div that contains the class col-? will be floated left, and have padding added to it
*/

*[class*='col-'] {
    float: left;
    padding-right: 20px;
}

*[class*='col-'] img {
    width: 100%;
    height: 400px;
}


/*
    The last div, will have no padding however
*/

*[class*='col-']:last-of-type {
    padding-right: 0;
}


/*
    That's it, now just make whatever sized columns we want and we can use them.
*/

*.row {
    width: 100%;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Use a flexbox for centering because it allows for easy vertical centering */
.centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

*.row.centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

*.col-2-3 {
    width: 66.66%;
}

*.col-2 {
    width: 50%;
}

*.col-3 {
    width: 33.33%;
}

*.col-3-2 {
    width: 16.665%;
}

*.col-4 {
    width: 25.00%;
}

*.col-3-4 {
    width: 75.00%;
}

*.col-6 {
    width: 12.5%;
}

*.col-12 {
    width: 6.25%;
}


/* Add rules for all columns */

@media all and (max-width: 850px) {
    *.row {
        width: 100%;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    *.col-4 {
        width: 100%;
        margin-bottom: 25px;
    }
}
