@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

#imgBackground {


    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url('../assets/img/bg.jpg');
    background-size: cover;
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.site-title {
    font-weight: 300;
    font-size: 3.5em;
    color: #FFF;
}

.centered {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-row {

    margin-top: 25px;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

footer {
    margin-top: 100px;
    padding: 25px;
    padding-bottom: 15px;
    background: #212121;
    color: #757575;
    border-top: 3px solid #DCEDC8;
}

footer > div.row, footer > div.row.centered {

    margin-bottom: 15px
}

footer img {

    width: 48px;
    height: 48px;
}

div.navbar {
    margin-bottom: 0px;
    padding-bottom: 10px;
    background: linear-gradient( 0deg, #689F38, #8BC34A 5% );
}

div.row.heading {
    text-align: center;
}

div.row.heading > h1 {
    font-weight: 300;
}

div.row.heading > hr {
    width: 65%;
}

div.row.friend-card {
    text-align: center;
}

div.row.friend-card img {
    width: 50%;
    height: 150px;
}

ul.mainNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 300;
    float: right;
}

ul.mainNav img {
    height: auto;
}
ul.mainNav li {
    float: left;
}

ul.mainNav li a {
    display: inline-block;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    outline: none;
    transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
    font-size: 18px;
    color: #212121;
}

ul.mainNav li a:hover {

    color: #795548;
}

ul.mainNav.left {
    float: left;
}

ul.mainNav.left li {
    float: left;
}

form.btn-link {

    padding-top: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 40px;
    border: 2px solid rgba(33, 68, 72, 0.59);
    background: #795548;
    color: #FFF;
    font-weight: 800;
    border-radius: 4px;
    font-size: 0.75em;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
}

a.button {
    text-decoration: none;
}

a.button:hover {

    background: #8BC34A;
    color: #212121;
}

button:
